<%- include('../includes/head.ejs') %>
    </head>

    <body>
        
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(product.length>0) { %>
                <ul>
                    <% product.forEach(prod=> { %>
                         <li>
                            <p> <%= prod.title %> (<%= prod.quantity %>)</p>
                            <form action="/cart-delete-item" method="post">
                                <button class="btn" type="submit">Delete</button>
                                <input type="hidden" value="<%= prod._id %>" name="id"/> 
                            </form>
                         </li>
                        <% }) %>
                </ul>
                <form action="/create-order" method="POST"> 
                    <button type="submit" class="btn">Order Now</button>
                </form>
                <% } else { %>
                    <h1>Cart Is empty</h1>
                <% } %>
        </main>
        <%- include('../includes/end.ejs') %>