<%- include('../includes/head.ejs') %>
    </head>

    <body>
        
        <%- include('../includes/navigation.ejs') %>  
        <main>
            <ul>
                <% product.forEach(prod=> { %>
                     <li>
                        <p> <%= prod.productId.title %> (<%= prod.quantity %>)</p>
                         
                     </li>
                    <% }) %>
            </ul>
            <div>
                <h2>Total: <%= total %></h2>
            </div>
            <div>
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    let stripe = Stripe("pk_test_51L2cnvCdmO60Qx8VTOTSYWUdbKStVLotePjsIKJPMBlNxNS3sE2z2FUyaVi7OT1ow2ZUvN8bc5HiqBNyWacvh8M800UW7Wxn2b")
                    let orderBtn = document.getElementById("order-btn")
                    orderBtn.addEventListener("click",function(){
                        stripe.redirectToCheckout({
                            sessionId:"<%= sessionId %>"
                        })
                    })
                </script>
                </div>
        </main>
        <%- include('../includes/end.ejs') %>
        